process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch"'
    clusterOptions='--account=csd854 --partition=condo --qos=condo'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    withName: cellbender {
        clusterOptions='--account=csd854 --partition=rtx3090 --qos=condo-gpu --gpus=1'
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions='--nv'
singularity.envWhitelist='CUDA_VISIBLE_DEVICES,PYTORCH_CUDA_ALLOC_CONF'

trace.enabled = true
report.enabled = true
dag.enabled = true
nextflowVersion = '>=20.10.1'

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
singularity.cacheDir = "/tscc/projects/ps-gaultonlab/relgamal/snRNAseq-NextFlow-master/singularity-cache"

//
// set paths for generic files here
//

params.star_index = ['hg38': '/tscc/projects/ps-gaultonlab/relgamal/STAR_hg38_indices']
params.gtf = ['hg38': '/tscc/projects/ps-gaultonlab/relgamal/snRNAseq-NextFlow-master/gencode.v38.annotation_comprehensive_CHR.gtf']
